{% extends 'layout.twig' %}

{% block body %}
  <h1>{{ title }}</h1>
  <p>{{ flashMessage }}</p>
  {% for adress in adresses %}

    <small>
        <a href="/adresses/view/{{ adress.id }}">Leer más</a>
        &nbsp;|&nbsp;
        <a href="/adresses/update/{{ adress.id }}">Editar</a>
        &nbsp;|&nbsp;
        <a href="/adresses/delete/{{ adress.id }}" onclick="return confirm('¿Está seguro?');">Borrar</a>
    </small>
    <hr />
  {% endfor %}
  <a href="/adresses/create">¡Añadir una nueva publicación!</a>
{% endblock %}